.header {
    width: 100%;
    background-color: var(--bg-main-color);
    padding-top: 30px;
    padding-bottom: 30px;
    transition: all 0.5s ease;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand {
    font-size: var(--logo-size);
    font-weight: 700;
    color: var(--secondary);
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;

    @media (--lg-viewport) {
        display: none;
    }

    .item {
        margin-left: 24px;
    }

    .link {
        text-decoration: none;
        color: var(--secondary);

        &:hover {
            text-decoration: underline;
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
}

.mobile {
    &-menu {
        display: none;
    }

    @media (--lg-viewport) {
        &-menu {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            display: block;
            background-color: var(--bg-main-color);
            padding: 14px;
            transition: all 0.5s ease;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
        }

        &-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &-item {}

        &-link {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: var(--primary);

            &:hover {
                color: var(--blue4);
            }

            span {
                display: inline-block;
                margin-top: 4px;
            }
        }

        &-icon {
            width: 100%;
            height: 100%;
        }
    }
}