@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Medium.ttf') format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: 700;
}
