@import './lib/normalize.css';
@import './lib/fonts.css';
@import './lib/bootstrap-grid.min.css';
@import './variables.css';

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--md-size);
  color: var(--primary);
}

* {
  box-sizing: border-box;
}
