.section {
    padding: 40px 0;
    background: linear-gradient(0deg, #EEF0FA, #EEF0FA);
}

.h1 {
    margin: 0;
    font-weight: 700;
    font-size: 70px;
    color: var(--secondary);
    margin-bottom: 16px;

    @media (--lg-viewport) {
        font-size: 44px;
    }
}

.description {
    margin: 0;
    white-space: pre-line;
    font-weight: 400;
    font-size: 20px;
}

.search {
    margin-top: 44px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &-input {
        width: 776px;
        padding: 14px 20px;
        margin-right: 24px;
        border-radius: 10px;
        border: 1px solid #F7F7F7;

        @media (--lg-viewport) {
            width: 100%;
        }
    }
}

.suggests {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-item {
        background-color: var(--bg-main-color);
        cursor: pointer;
        margin-right: 12px;
        margin-bottom: 12px;
        border-radius: 10px;
        padding: 7px 20px;
        font-size: 14px;

        &:last-child {
            margin-right: 0;
        }
    }
}