/* grid media size */
@custom-media --sm-viewport (max-width: 540px);
@custom-media --md-viewport (max-width: 768px);
@custom-media --lg-viewport (max-width: 992px);
@custom-media --xl-viewport (max-width: 1200px);

:root {
    /* colors */
    --bg-main-color: #FFF;
    --secondary: #2B2B2B;
    --primary: #4C4C4C;
    --blue4: #394AC4;

    /* sizes */
    --sm-size: 14px;
    --md-size: 16px;
    --logo-size: 32px;
}
